.icon_button {
  border: 1px solid white !important;
  color: white !important;
  &:hover {
    transition: transform 0.3s ease 0s;
    transform: matrix(1, 0.1, 0.3, 1, 0, 10);
    -ms-transform: matrix(1, 0.1, 0.3, 1, 0, 10);
    -webkit-transform: matrix(1, 0.1, 0.3, 1, 0, 10);

    svg {
      transition: transform 0.3s ease 0s;
      transform: matrix(1.04, -0.01, -0.08, 1, 8, -15);
      -ms-transform: matrix(1.04, -0.01, -0.08, 1, 8, -15);
      -webkit-transform: matrix(1.04, -0.01, -0.08, 1, 8, -15);
    }
  }
}
